* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

body {
  font-family: "Dancing Script", cursive;
  margin-bottom: 50px;
}

body a {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  padding: 0 15px;
  color: black;
  border-right: 1px solid #f5e5e5;
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}

.menu-buttons {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-top: 25px;
  height: 40px;
  background-color: blanchedalmond;
  margin-bottom: 50px;
}
#buttons-a {
  text-decoration: none;
  background: blanchedalmond;
  color: black;
  padding: 10px 65px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 20px;
  border-right: 1px solid #f5e5e5;
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
a:hover {
  background: rgb(223, 205, 177);
}
li {
  float: left;
}

.header {
  margin-top: 20px;
  height: 150px;
  width: auto;
  background-image: url(https://img.wallpapersafari.com/desktop/800/450/40/57/GSZUKg.jpg);
}

#name {
  font-size: 50px;
  padding-left: 20%;
}

#tittle {
  font-size: 40px;
  padding-left: 10%;
}

.change_lang {
  list-style: none;
  background: none;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 40px;
  height: 20px;
}

@media screen and (max-width: 1280px) {
  .header {
    width: 900px;
  }

  .menu-buttons {
    width: 1200px;
  }

  .container {
    width: 1200px;
  }
}
